* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

body {
  margin: 0px;
}

.tomocalogo {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-block-end: 19.92px;
  margin-block-start: 19.92px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 25px;
  margin-right: 4px;

 
}

h1 {
color: rgb(251, 242, 192);
display: inline-block;
font-size: 24px;
font-weight: 700;
margin-block-end: 19.92px;
margin-block-start: 19.92px;
margin-inline-end: 0px;
margin-inline-start: 0px;

}

.headerbar {
  background-color: rgb(67, 40, 28);
  display: flex;
  justify-content: center;
  
}

.header2 {
  color: rgb(136, 90, 45);
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-block-end: 13.28px;
  margin-block-start: 13.28px;
  margin-inline-end: 0px;
}

.itemno {
  font-size: 16px;
  color: black;
  grid-area: ino;
}

.itemno2 {
  font-size: 16px;
  color: black;
  grid-area: ino2;
}

.itemno3 {
  font-size: 16px;
  color: black;
  grid-area: ino3;
}

.itemname {
  font-size: 16px;
  color: black;
  font-weight: 600;
  grid-area: in;
}

.itemname2 {
  font-size: 16px;
  color: black;
  font-weight: 600;
  grid-area: in2;
}

.itemname3 {
  font-size: 16px;
  color: black;
  font-weight: 600;
  grid-area: in3;
}

.itemcost {
  font-size: 16px;
  color: black;
  font-weight: 600;
  grid-area: ic;
}

.itemcost2 {
  font-size: 16px;
  color: black;
  font-weight: 600;
  grid-area: ic2;
}

.itemcost3 {
  font-size: 16px;
  color: black;
  font-weight: 600;
  grid-area: ic3;
}

.itemtype {
  color: rgb(176, 137, 104);
  font-size: 14px;
  grid-area: it;
  
}

.itemtype2 {
  color: rgb(176, 137, 104);
  font-size: 14px;
  grid-area: it2;
}

.itemtype2B {
  color: rgb(176, 137, 104);
  font-size: 14px;
  grid-area: it2B;
  
}

.itemtype3 {
  color: rgb(176, 137, 104);
  font-size: 14px;
  grid-area: it3;
}

.item1 {
  border-bottom: 2px solid rgb(221, 184, 146);
  
}

.item2 {
  border-bottom: 2px solid rgb(221, 184, 146);
  
}

.item3 {
 
    
}

.allitems {
  display: grid;
  grid-template-areas: 
  ;
}



