* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
}

.tomocalogo {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-block-end: 19.92px;
  margin-block-start: 19.92px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 25px;
  margin-right: 4px;

 
}

h1 {
color: rgb(251, 242, 192);
display: inline-block;
font-size: 24px;
font-weight: 700;
margin-block-end: 19.92px;
margin-block-start: 19.92px;
margin-inline-end: 0px;
margin-inline-start: 0px;

}

.headerbar {
  background-color: rgb(67, 40, 28);
  display: flex;
  justify-content: center;
  
}

.header2 {
  color: rgb(136, 90, 45);
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-block-end: 13.28px;
  margin-block-start: 13.28px;
  margin-inline-end: 0px;
}

.itemno,.itemname,.itemcost {
  font-size: 16px;
  color: black;
}

.itemname,.itemcost{
  font-weight: 600;
}

.itemtype {
  color: rgb(176, 137, 104);
  font-size: 14px;
  grid-area: it;
  margin: 0px;
}

.itemtype2 {
  color: rgb(176, 137, 104);
  font-size: 14px;
  grid-area: it2;
  margin: 0px;
}

.itemcost{
  grid-area: ic;
  margin: 0px;
}

.itemname{
  grid-area: in;
  margin: 0px;
}

.itemno {
  grid-area: ino;
  margin: 0px;
}

.item1 {
  display: grid;
  grid-template-areas: 
    "ino in .  ic"
    ".   it .  .";
  border-bottom: 2px solid rgb(221, 184, 146);
  justify-content: space-between;
}

.item2 {
  display: grid;
  grid-template-areas: 
    "ino in .  ic"
    ".   it .  ."
    ".   it2 .  .";
  border-bottom: 2px solid rgb(221, 184, 146);
  justify-content: space-between;
}

.item3 {
  display: grid;
  grid-template-areas: 
    "ino in .  ic"
    ".   it .  .";
    justify-content: space-between;
    
}



