.main-title {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

.nav-btn {
    font-family: 'Roboto', sans-serif;
    color: rgb(102, 102, 102);
    font-size: 30px;
    font-weight: 700;
    list-style: none;
    display: inline-block;

}

.head2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: rgb(78, 77, 77);
}

p {

}

img {
    width: 300px;
}


